.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 100vh;
    background-color: rgb(22, 73, 114,0.9)
}

.header img{
    width: 125px;
}

.header h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: normal;
}

.header h3{
    color: white;
    font-size: 32px;
    font-weight: normal;
    margin: 2rem 5rem;
    text-align: center;
}

.header h4{
    display: none;
}