.menu-dashboard{
    height: 100%;
    width: 18%;
    font-family: Marcellus;
}

.menu-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    background-image: url(dashboard-header.jpg);
    background-size: cover;
    color: var(--blanco);
}

.logo-hot{
    display: none;
}

.user-profile{
    display: none;
}

.menu-logo h1 img{
    width: 50px;
}

.menu-logo h1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1.5rem 1.5rem;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 70px;
}

.user-name{
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.user-name h2{
    font-size: 16px;
    font-weight: normal;
}

.user-name h3{
    font-size: 9px;
    font-weight: normal;
}

.menu-option{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    background-color: #303342;
}

.option{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0rem;
    margin-right: 0.5rem;
    color: var(--blanco);
}

.option:hover{
    background-color: var(--azuloscuro);
}

.option p{
    font-size: 14px;
    font-weight: normal;
}

.option i{
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.option-2{
    padding: 0.3rem 1rem;
}

.option-2 i{
    font-size: 1.9rem;
}

.cerrar-sesion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-left: 10px;
    background-color: #3B3E4F;
    color: var(--blanco);
}

.cerrar-sesion p{
    font-size: 14px;
    margin-right: 25px;
}

.cerrar-sesion i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.cerrar-sesion a{
    color: white;
    text-decoration: none;
}