@media screen and (min-width: 320px) and (max-width: 1024px){
    .desc{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    
    .desc p{
        font-size: 12px;
    }
    
    .desc img{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    .desc{
        display: flex;
        padding: 5rem 8rem;
    }

    .desc p{
        padding-right: 6rem;
    }

    .desc img{
        height: 200px;
    }
}

